# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# But not these files...
!.htpasswd
!.htaccess
!public/.htaccess

# Build directory

.DS_Store
yarn-error.log
